<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Drone World</title>

    <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <a href="/" data-icon="home" data-dom-cache="false">Home</a>
        <h1>Drone World</h1>
    </div>

    <div data-role="content">
        {{ block "content" .}} {{ end}}
    </div>
</div>
</body>
</html>
